<div
  *ngIf="dataSource.data.length > 0"
  class="table-container"
  style="display: flex; flex-direction: column"
>
  <p-table [columns]="columns" [value]="staffStatus">
    <ng-template #header>
      <tr>
        <th *ngFor="let row of columns">{{ row }}</th>
      </tr>
    </ng-template>
    <ng-template #body let-staff>
      <tr>
        <td>{{ staff.id }}</td>
        <td>{{ staff.name }}</td>
        <td>{{ staff.phoneNumber }}</td>
        <td>{{ staff.email }}</td>
        <td>{{ staff.forYear }}</td>
        <td>{{ staff.eventType }}</td>
        <td>
          @let isZero = staff.unmodifiedCount === 0;
          <p-tag [severity]="isZero ? 'success' :'warn'">
            <i [ngClass]="isZero ? 'pi pi-check-circle':  'pi pi-hourglass'"></i>
          {{isZero ? 'Validated':  'Pending'}}
          </p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>
  </div>

<div class="flex justify-center p-12" *ngIf="dataSource.data.length === 0">
  <div class="flex flex-col items-center justify-center py-10 text-gray-500">
    <i class="pi pi-database text-4xl mb-4"></i>
    <p class="text-lg font-semibold">No Data Found</p>
    <p class="text-sm text-gray-400">Please Try again after Some time</p>
  </div>
</div>
<p-dialog header="Request Details"></p-dialog>
