
<p-toolbar class="fixed top-0 left-0 w-full z-5 shadow-md">
  <div class="flex items-center gap-3 p-3 pl-6">
    <i class="pi pi-calendar text-xl"></i>
    <span class="font-semibold text-lg">SlotBooking Portal</span>
  </div>
  <div class="p-toolbar-group-end">
    <ul class="flex mr-3">
      <li *ngFor="let item of list" class="mb-1">
      <a
        [routerLink]="item.path"
        routerLinkActive="selected-route"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex items-center gap-3 px-3 py-1 hover:bg-primary transition duration-150"
      >
        <i class="pi pi-{{ item.icon }}"></i>
        <span>{{ item.name }}</span>
      </a>
    </li>
    <li>
      <p-button (click)="handleSignOut()" label="Logout" severity="danger" class="ml-3" size="small"></p-button>
    </li>
    </ul>
  </div>
</p-toolbar>
<div class="pt-20 px-4 transition-all duration-200">
  <router-outlet></router-outlet>
</div>
