<p-toolbar class="fixed top-0 left-0 w-full z-5 shadow-md">
  <div class="flex items-center gap-3 p-3 pl-6">
    <i class="pi pi-calendar text-xl"></i>
    <span class="font-semibold text-lg">SlotBooking Portal</span>
  </div>
  <div class="p-toolbar-group-end gap-3 flex right-5">
    <p-menubar [model]="items">
        <ng-template  #item let-item>
        <ng-container *ngIf="item.routerLink; else urlRef">
            <a [routerLink]="item.routerLink" class="p-menubar-item-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </ng-container>
        <ng-template #urlRef>
            <a *ngIf="item.url; else noLink" [href]="item.url" class="p-menubar-item-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </ng-template>
        <ng-template #noLink>
            <div class="p-menubar-item-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
                <span class="pi pi-fw pi-angle-down ml-2"></span>
            </div>
        </ng-template>
    </ng-template>
    </p-menubar>
    <div class="flex items-center mr-3">
      <p-button label="Logout" size="small" severity="danger"></p-button>
    </div>
  </div>
</p-toolbar>
<div class="pt-20 px-4 transition-all duration-200">
  <router-outlet></router-outlet>
</div>
