<mat-toolbar class="toolbar">
    <div style="display:flex; align-items: center; gap: 10px;">
        <mat-icon>today</mat-icon>
        <span style="cursor: default;">SlotBooking Portal</span>
    </div>
    <div class="dropdown" style="position: relative;">
        <img [src]="userdetails.picture" alt="" class="profile" id="me">
        <div class="items" id="items">
         <button [routerLink] = "['/dashboard']"id="Dashboard">Dashboard</button>
         <button href="" id="Logout">Logout</button> 
        </div>
    </div>
</mat-toolbar>
