
.toolbar{
    padding-top: 5px;
    padding-left: 30px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: transparent;
    height: 77px;
    display: flex;
    justify-content: space-between;
}
.profile{
    width: 60px;
    border-radius: 30px;
    margin-right: 30px;
    margin-bottom: 6px;
    cursor: pointer;
}

