/* Global Reset */
* {
  margin: 0;
  padding: 0;
}
.container {
  /* background-color: #0056b3; */
  margin-left: 30px;
}
/* Container Styling */
.user-details-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.left,.right {
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid #e0e0e0;
}
/* Left Section */
.left {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left h3 {
  font-size: 22px;
  font-weight: bold;
}

.left h5 {
  font-size: 18px;
  font-weight: 500;
}

/* Right Section */
.right {
  display: flex;
  flex-direction: column;
}
/* File Upload */
.file-upload-form {
  margin-top: 10px;
  padding: 20px;
}

.file-upload-label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background: #007bff;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.file-upload-label:hover {
  background: #0056b3;
}

.file-upload-input {
  display: none;
}

/* Uploaded File */
.uploaded-file {
  padding: 30px;
  gap: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.uploaded-file .delete-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px;
  margin-top: 10px;
  color: #fff;
  background: #dc3545;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.uploaded-file .delete-btn mat-icon {
  font-size: 20px;
}


.uploaded-file .delete-btn:hover {
  color: #c82333;
  background: #fff;
  box-shadow: 0 4px 8px rgba(222, 6, 6, 0.458);
}
.uploaded-file .delete-btn:active {
  background: #a10505;
}

.uploaded-file a {
  content: "Download Resume";
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
}

.uploaded-file a:hover {
  text-decoration: underline;
}
/* Password Changes */
.password-change-container {

background-color: white;
padding: 20px;
border-radius: 12px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.old-password,.new-password{
  display: block;
}
.old-password input,.new-password input{
  width: 100%;
  box-sizing: border-box;
}
.password-field{
  margin-top: 10px;
  padding: 12px;
  border-radius: 6px;
  border-color:#ddd;
}
.pass-change-btn{
  padding: 10px 20px;
  color: #fff;
  border: none;
  background: #007bff;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.pass-change-btn:hover{
  background: #0056b3;
}

.query{
  display: block;
}
.query input{
  width: 100%;
  box-sizing: border-box;
}
/* Query Styles */
.query-container{
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.query-field{
  margin-top: 10px;
  box-sizing: border-box;
  padding: 10px;
  border-color: #ddd;
  border-radius: 6px;
}

/* Table Styling */
.table-container {
  margin-top: 20px;
  border-radius: 12px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.round-table {
  width: 100%;
  border-collapse: collapse;
}

.round-table th,
.round-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}


.chart-container {
  padding: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.chart {
  margin-bottom: 20px;
  height: 50vh;
  background-color: white;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .chart-container {
    grid-template-columns: 1fr;
  }
  .chart {
    width: 100%;
  }
}
/* Responsive Design */
@media (max-width: 1280px) {
  .user-details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .old-password input{
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .table-container {
    padding: 10px;
  }

  .mat-card {
    width: 100%;
    height: auto;
  }
}
@media (max-width:798px) {
  .user-details-container{
    grid-template-columns: 1fr;
  }
  .container {
    margin: 0;
  }
}
