<div class="mt-5">
  <div class="grid grid-cols-3 gap-3">
    <p-card class="gap-3 shadow-2xl">
      <h3 class="text-2xl font-bold">{{ user.Name }}</h3>
      <h3 class="text-xl"><strong>Roll No : </strong> {{ user.RollNo }}</h3>
      <h3 class="text-xl"><strong>Year : </strong> {{ user.Year }}</h3>
      <h3 class="text-xl"><strong>Department : </strong> {{ user.Dept }}</h3>
      <h3 class="text-xl"><strong>Upcoming Event : </strong> N/A</h3>
    </p-card>
    <p-card>
      <div #header>
        <h2 class="text-2xl font-bold" #title>Resume</h2>
      </div>
      <form
        *ngIf="selectedFileName === ''; else fileUploaded"
        class="file-upload-form"
      >
        <h3><strong>Upload Resume</strong></h3>
        <label for="resume-upload" class="file-upload-label">
          <input
            id="resume-upload"
            class="file-upload-input"
            type="file"
            accept=".pdf"
            (input)="fileInput($event)"
          />
          Upload Resume
        </label>
      </form>
      <ng-template #fileUploaded>
        <div class="grid grid-cols-2 gap-2">
          <a
            class="p-button font-bold decoration-none"
            icon="pi pi-file-pdf"
            [href]="resumeLink"
            pButton
            severity="contrast"
          >
            Resume
          </a>
          <button
            pButton
            (click)="clearFile()"
            icon="pi pi-trash"
            severity="danger"
          >
            Delete Resume
          </button>
        </div>
      </ng-template>
    </p-card>
    <p-card>
      <h3 class="text-xl font-bold">Report Query</h3>
      <button
        pButton
        severity="help"
        size="small"
        class="mt-2"
        (click)="openQueryDialog()"
      >
        Send Query
      </button>
    </p-card>
  </div>
  <div class="rounded shadow-2xl">
    <p-table
      [columns]="columns"
      [value]="eventResultArray"
      class="rounded-full m-3"
    >
      <ng-template #header>
        <tr>
          @for (row of columns; track $index) {
          <th>{{ row }}</th>
          }
        </tr>
      </ng-template>
      <ng-template #body let-event let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ event.eventType }}</td>
          <td>{{ (convertDate(event.resultId) | date) || "Absent" }}</td>
          <td>{{ event.marks }}</td>
          <td>{{ event.remarks }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="mt-2 grid grid-cols-2">
    <div *ngFor="let eventType of chartData | keyvalue">
      <p-card>
        <h3>{{ eventType.key }}</h3>
        <p-chart
          type="line"
          [data]="eventType.value"
          [options]="options"
          height="400"
        ></p-chart>
      </p-card>
    </div>
  </div>
</div>
<div class="mt-3" *ngIf="studentsQueries.length > 0">
  <div>
    <h3>Your Queries</h3>
  </div>
  <!-- Title -->
  <p-dataview #dv [value]="studentsQueries" [paginator]="true" rows="5">
    <ng-template #list let-items>
      <p-card *ngFor="let query of items">
        <div #header class="flex gap-1">
          <h1><strong>Title :</strong></h1>
          <h3>{{ query.title }}</h3>
        </div>
        <div #body class="flex justify-between">
          <div>
            <h4 #title><strong>Description</strong></h4>
            <p>{{ query.description }}</p>
          </div>
          <div class="flex items-center justify-center">
            @let status = query.status;
            <!-- background-color: rgba(0, 128, 0, 0.284) -->
            @let queryStatusColor = status === 'Resolved' ? "success": status
            === "Pending" ? "info" : "error";
            <p-message
              size="small"
              [severity]="queryStatusColor"
              variant="outlined"
            >
              {{ status }}
            </p-message>
          </div>
        </div>
        <div #footer>
          <h4><strong>Remarks</strong></h4>
          <p>{{ query.remarks || "No Remarks provided yet" }}</p>
        </div>
      </p-card>
    </ng-template>
  </p-dataview>
</div>

<p-dialog header="Raise Query" [(visible)]="openDialog" [style]="{width:'25rem'}" [modal]="true">
  <form [formGroup]="query" class="flex flex-col gap-3">
  <div class="flex flex-col gap-1">
    <label for="query-title"><strong>Query Title</strong></label>
    <input
      pInputText
      formControlName="title"
      id="query-title"
      placeholder="Title"
    />
  </div>
    <div class="flex flex-col gap-1">
      <label for="query-summary"><strong>Query Summary</strong></label>
          <textarea pInputText
            formControlName="description"
            id="query-summary"
            placeholder="Query Summary"
          ></textarea>
    </div>
    <div class="flex justify-end gap-2">
      <button size="small" pButton severity="secondary" (click)="openDialog = false">Cancel</button>
      <button size="small" pButton  severity="contrast" (click)="raiseQuery();openDialog = false">Submit</button>
    </div>
  </form>
</p-dialog>

<ng-template #queryDialog>
  <div>
    <div class="title">
      <h1>Raise Query</h1>
    </div>
    <div [formGroup]="query" class="query-dialog-form">
      <div class="query-inputs">
        <label for="query-title"><strong>Query Title</strong></label>
        <input
          pInputText
          formControlName="title"
          id="query-title"
          placeholder="Title"
        />
      </div>
      <div class="query-inputs">
        <label for="query-summary"><strong>Query Summary</strong></label>
        <textarea
          formControlName="description"
          id="query-summary"
          placeholder="Query Summary"
        ></textarea>
      </div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 10px">
      <button
        (click)="raiseQuery()"
        class="blue-btn"
        style="width: 100%; background-color: #e0e0e0; color: grey"
      >
        Submit
      </button>
    </div>
  </div>
</ng-template>
