.user-details-container {
  margin:20px;
  padding:20px;
  display:flex;
  column-gap:15px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  justify-content: space-around;
}

.left h5{
  font-size: 20px;
  /*background-color: #007bff;*/
}
.password {
  display: flex;
}
.right {
  justify-content: flex-end;
  padding:20px;

}

.uploaded-file {
  display: flex;
  gap:6px;
  align-items: center;
  padding:10px;
  border-radius: 4px;
}



.file-upload-form {
  margin: 20px 20px;
}

.file-upload-label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background: #007bff;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.file-upload-label:hover {
  background: #0056b3;
}

.file-upload-input {
  display: none;
}


.uploaded-file a {
  text-decoration: none;
  color: #007bff;
}

.uploaded-file a:hover {
  text-decoration: underline;
}

.clear-button {
  background-color: #ff6b6b;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.clear-button:hover {
  background-color: #d9534f;
}
