<div >
    <div style="margin-left: 50px; margin-top: 50px; display: flex; gap: 20px; align-items: center;">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input [(ngModel)]="searchrollno" type="text" matInput required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Batch</mat-label>
            <mat-select [(ngModel)]="searchbatch" required >
                <mat-option  *ngFor="let batch of list" [value]="batch
                ">{{batch}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button (click)="search()" mat-flat-button><mat-icon>search</mat-icon> Search</button>
    </div>
</div>