

<div  class="chart-container">
    
    <mat-card class="mat-elevation-z4" >
        <mat-card-header><h4  >Mock Interview</h4></mat-card-header>
        <mat-card-content>
            <canvas baseChart #MockInterview [labels]="Mock_Interview.labels" 
                [datasets]="Mock_Interview.datasets" 
                [options]="options" [type]="type">
            </canvas>
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-warn" >
        <mat-card-header><h4>Self Introduction</h4></mat-card-header>
        <mat-card-content>
            <canvas baseChart #SelfIntroduction
                [labels]="Self_Introduction.labels" 
                [datasets]="Self_Introduction.datasets" 
                [options]="options" [type]="type">
            </canvas>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header> <h4>Group Discussion</h4> </mat-card-header>
        <mat-card-content>
            <canvas baseChart #GroupDiscussion
                [labels]="Self_Introduction.labels" 
                [datasets]="Group_Discussion.datasets" 
                [options]="options" [type]="type">
            </canvas>
        </mat-card-content>
    </mat-card>

</div>