/* @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap');
/* rgb(0, 185, 240); buttoncolor */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu' ,sans-serif;
}*/
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-color: #eef2f6;
} 
.loginbox{
    width: 420px;
    background-color: #fff;
    border: 2px solid rgba(255, 255, 255);
    position:relative;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 8px #c5cdd5;
    
}
.submit-btn{
    background-color:#5755FE;
    font-weight: bold;
    color: white;
    font-size: large;
    width: 300px;
    border-radius: 10px;
}