<!-- client id:772453149406-40ctg1aupn8hok7uttrquur55tfd313g.apps.googleusercontent.com -->
<meta name="google-signin-client_id"
  content="772453149406-40ctg1aupn8hok7uttrquur55tfd313g.apps.googleusercontent.com.apps.googleusercontent.com">
<script src="https://accounts.google.com/gsi/client" async defer></script>
<div class="container">
  <mat-card class="loginbox">
    <mat-card-content class="loginbox-card-content">
      <div style="display: flex;align-items: center;
      margin-bottom: 20px; gap: 5px;" >
        <mat-icon>today</mat-icon>
        <span>Slot-booking Portal</span>
      </div>
      <form class="form"[formGroup]="credentials">
        <mat-form-field   appearance="outline" class="Reg-num-form-field">
          <mat-label>RegNumber</mat-label>
          <input type="text" formControlName="userName" matInput style="border-radius: 4px;width: 100%;">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field class="pass-form-field" appearance="outline" >
          <mat-label>Password</mat-label>
          <input matInput [type]="password() === true ? 'password' : 'text' " formControlName="password"
            style="border-radius: 4px;">
          <button mat-icon-button matSuffix (click)="this.password.set(!this.password())">
            <mat-icon>{{password() ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="card-action">
      <button mat-fab extended type="submit" (click)="submit()" class="submit-btn">Submit</button>
      <p class="Sign-in">OR</p>
      <!-- 772453149406-abjsh6ajdo61sr3rcsfqav4u3mj6b5ap.apps.googleusercontent.com -->
      <div id="g_id_onload" [attr.data-client_id]="clientId" data-context="signin" data-ux_mode="popup"
        data-callback="handleOauthResponse" data-auto_prompt="false">
      </div>
      <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
        data-text="continue_with" data-size="large" data-logo_alignment="center" data-width=250>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

