<div style="margin: 30px 30px 30px 30px ;"
>
    <table mat-table [dataSource]="studentList" class="mat-elevation-z8">
    
    <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef>No</th>
        <td mat-cell *matCellDef="let student">{{student.No}}</td>
    </ng-container>
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let student">{{student.Name}}</td>
    </ng-container>
    <!-- matColumnDef refers to the property of the object cellDef is for namefor the tabel -->
    <ng-container matColumnDef="attendance">
        <th mat-header-cell *matHeaderCellDef>Attendance</th>   
        <td mat-cell *matCellDef="let student">
          <!-- Checkbox for attendance -->
          <mat-checkbox [(ngModel)]="student.ispresent" (change)="attendance(student)"></mat-checkbox>
        </td>
      </ng-container>
    <ng-container matColumnDef="marks" >
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Marks</th>
        <td mat-cell *matCellDef="let student" style="text-align: center;" >
            <mat-form-field appearance="outline" style="margin-top: 15px;"><mat-label>Marks</mat-label>
            <input [(ngModel)]="student.marks" matInput type="number"></mat-form-field>
        </td>
    </ng-container>
    <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Remarks</th>
        <td mat-cell *matCellDef="let student"  style="text-align: center;">
            <mat-form-field appearance="outline" style="margin-top: 15px;"><mat-label>Remarks</mat-label>
            <input [(ngModel)]="student.remarks" matInput type="text" name="" id="" ></mat-form-field>
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-raised-button color="primary" style="align-items: center;" (click)="submitAllRow(studentList)">Submit All</button>
        </th>
        <td mat-cell *matCellDef="let student" style="justify-content: center;">
            <button mat-button (click)="submitRow(student)">Submit</button>
          </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns" ></tr>
    </table>
    
</div>
