.container {
  margin-left:20px;
}
.top-bar{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4,1fr);
  margin-bottom: 20px;
}

.graphs-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.graph {
  height: 350px;
  width: 550px;
}
.graph-wrapper {
  border-radius: 10px;
  margin-right: 20px;
  padding: 20px;
  margin-bottom:20px;
  background-color: white;
}
.events {
  background-color: white;
  border-radius: 8px;
  border: 3px solid #eef2f6;
  display: flex;
}
.event-detail {
  margin-right: 20px;
    margin-left: 20px;
}

p {
  font-size: 20px;
}

.event-heading {
  font-size: 20px;
  color: gray;
  font-weight: 500;
}

.table-container {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

.mat-mdc-header-row {
  background-color: #EAF5FA;
}

.mat-mdc-row {
  background-color: rgb(255, 254, 254);
}

@media (max-width:1080px) {
  .graphs-container {
    display: flex;
    flex-direction: column;
  }
  .graph {
    width: 510px;
  }
}
