<ng-container *ngIf="data === undefined; else elseTemplate">
    <h3 matDialogTitle>
        No Accepted Slots
    </h3>
    <mat-dialog-content>
        <h6>
            The User Have not accepted Any Slot
        </h6>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button matDialogClose mat-flat-button>Close</button>
    </mat-dialog-actions>
</ng-container>
<ng-template #elseTemplate>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Accepted Slots of {{ data.name }}</mat-card-title>
            <mat-card-subtitle>{{ data.staffId }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let slot of data.availableSlots">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ slot.date }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-chip-set>
                        <mat-chip *ngFor="let timeSlot of slot.slots">
                            {{ timeSlot.time }}
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</ng-template>