<table mat-table [dataSource]="myEvetn">
    <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef>No</th>
        <td mat-cell *matCellDef="let event">{{event.No}}</td>
    </ng-container>

    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let event">{{event.Name}}</td>
    </ng-container>
    
    <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let event">{{event.Date}}</td>
    </ng-container>
    <ng-container matColumnDef="Time">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let event">{{event.Time}}</td>
    </ng-container>
    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let event">
            <button mat-flat-button (click)="cancelEvent(event)">Cancel</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row;columns:columns"></tr>
</table>
