<h3 style="margin-top: 30px;margin-left: 30px;">Welcome {{detais.given_name}} {{detais.family_name}}</h3>

<div style="display: flex; gap: 30px; text-align: center; align-items: center;">
    <div class="Uevetns">
        <h4>Upcoming Events</h4>
        <h6>GroupDiscussion:24/Sep</h6>
    </div>
    <div class="progress-bar">
        <div class="progress-fill" style="width: 90%; background-color:blue ;"></div>
    </div>
    <h6>9/10</h6>
    <button mat-flat-button><mat-icon>file_upload</mat-icon>Upload-Resume</button>
</div>


<div class="table-container">
    <table mat-table [dataSource]="HISTORY_DATA" class="mat-elevation-z8">

        <ng-container matColumnDef="No">
            <th mat-header-cell  class="mat-header-cell" *matHeaderCellDef="">No</th>
            <td mat-cell class="mat-cell" data-header="No" *matCellDef="let data">{{data.No}}</td>
        </ng-container>
        <ng-container matColumnDef="eventName">
            <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Events</th>
            <td mat-cell class="mat-cell" data-header="Events" *matCellDef="let event">{{event.eventName}}</td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Date</th>
            <td mat-cell class="mat-cell" data-header="Date" *matCellDef="let event">{{event.date}}</td>
        </ng-container>
        <ng-container matColumnDef="marks">
            <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Marks</th>
            <td mat-cell class="mat-cell" data-header="Marks" *matCellDef="let event">{{event.marks}}</td>
        </ng-container>
        <ng-container matColumnDef="remarks">
            <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Remarks</th>
            <td mat-cell class="mat-cell" data-header="Remarks" *matCellDef="let event">{{event.remarks}}</td>
        </ng-container>
    
        <tr mat-header-row class="headers" *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row;columns:columns"></tr>
    
    </table>
</div>



