<div class="container">
  <!-- <h3 class="mat-h3" style="margin-top: 30px;margin-left: 30px;">Welcome {{user.Name}}</h3> -->
  <div>
    <div class="userdata">
      <div class="user-card">
        <div class="user-header">
          <div class="user-details">
            <h3>{{user.Name}}</h3>
            <h3><strong>Roll No:</strong> {{user.RollNo}}</h3>
            <h3><strong>Year:</strong> {{user.Year}}</h3>
            <h3><strong>Department:</strong> {{user.Dept}}</h3>
            <h3><strong>Upcoming Event</strong></h3>
          </div>
        </div>
        <div class="user-footer">
          <form *ngIf="selectedFileName === ''; else fileUploaded" class="file-upload-form">
            <label for="resume-upload" class="file-upload-label">
              <input id="resume-upload" class="file-upload-input" type="file" accept=".pdf" (input)="fileInput($event)" />
              Upload Resume
            </label>
          </form>
          <ng-template #fileUploaded>
            <div class="uploaded-file">
              <a [href]="resumeLink" target="_blank">Resume.pdf</a>
              <button mat-button (click)="clearFile()" class="clear-button">Remove</button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="event details">
      
    </div>
  </div>
  <div *ngIf="eventResults.data.length > 0" class="table-container">
    <table mat-table [dataSource]="eventResults" class="mat-elevation-z8">

      <ng-container matColumnDef="No">
        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef="">No</th>
        <td mat-cell class="mat-cell" data-header="No" *matCellDef="let data;let i = index">{{i+1}}</td>
      </ng-container>
      <ng-container matColumnDef="eventName">
        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Events</th>
        <td mat-cell class="mat-cell" data-header="Events" *matCellDef="let event">{{event.eventType}}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Date</th>
        <td mat-cell class="mat-cell" data-header="Date" *matCellDef="let event">{{event.date | date}}</td>
      </ng-container>
      <ng-container matColumnDef="marks">
        <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Marks</th>
        <td mat-cell class="mat-cell" data-header="Marks" *matCellDef="let event">{{event.marks}}</td>
      </ng-container>
      <ng-container matColumnDef="remarks">
        <th mat-header-cell class="mat-header-cell Remarks-header" *matHeaderCellDef>Remarks</th>
        <td mat-cell class="mat-cell Remarks-column" data-header="Remarks" *matCellDef="let event">{{event.remarks}}
        </td>
      </ng-container>
      <tr mat-header-row class="headers" *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row;columns:columns"></tr>
    </table>
  </div>
  <div>
    <div class="chart-container">
      <mat-card class="mat_card">
        <div *ngIf="Mock_Interview.datasets[0].data.length > 0;else noData">
          <mat-card-header>
            <h4>Mock Interview</h4>
          </mat-card-header>
          <mat-card-content>
            <canvas class="chart" baseChart #MockInterview [labels]="Mock_Interview.labels"
              [datasets]="Mock_Interview.datasets" [options]="options" [type]="type">
            </canvas>
          </mat-card-content>
        </div>
      </mat-card>
      <mat-card class="mat-warn mat_card">
        <div *ngIf="Self_Introduction.datasets[0].data.length > 0;else noData">
          <mat-card-header>
            <h4>Self Introduction</h4>
          </mat-card-header>
          <mat-card-content>
            <canvas baseChart #SelfIntroduction [labels]="Self_Introduction.labels"
              [datasets]="Self_Introduction.datasets" [options]="options" [type]="type">
            </canvas>
          </mat-card-content>
        </div>
      </mat-card>
      <mat-card class="mat_card">
        <div *ngIf="Group_Discussion.datasets[0].data.length > 0;else noData">
          <mat-card-header>
            <h4>Group Discussion</h4>
          </mat-card-header>
          <mat-card-content>
            <canvas baseChart #GroupDiscussion [labels]="Group_Discussion.labels" [datasets]="Group_Discussion.datasets"
              [options]="options" [type]="type">
            </canvas>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
  <ng-template #noData>
    <mat-card-header>
      <h6>No Event Attended</h6>
    </mat-card-header>
    <mat-card-content
    style="display: flex;flex-direction: column;justify-content: center;
    align-items: center;padding: 50px;font-family: monospace;">
      <p style="font-size: 25px;">No Data Available</p>
      <span class="material-icons" style="font-size: 60px;color: #ff6b6b;">folder</span>
    </mat-card-content>
  </ng-template>
</div>
