/* @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap');
/* rgb(0, 185, 240); buttoncolor */

.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: #eef2f6;
}

.form-container {
  background-color: white;
  width: 430px;
  text-align: center;
  height: 430px;
  border-radius: 15px;
  padding:30px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.button {
  padding: 8px;
  background-color: blue;
  border: none;
  color:white;
  font-size: 16px;
  margin-bottom: 30px;
  border-radius: 5px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  transition: background-color ease-in 100ms;
}

.button:hover {
  background-color: rgba(0, 0, 255, 0.692);
}

.button:active {
  background-color: rgb(157, 0, 255);
}

.submittion {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: center;
}
