<div class="container mat-elevation-z8">
  <form method="get" class="inputs">
    <mat-form-field class="custom-form" subscriptSizing="dynamic" appearance="outline">
      <mat-label>Search</mat-label>
      <input [formControl]="identifier"  appearance="outline" matInput type="text" placeholder="Name or id">
      <div matSuffix style="width: fit-content;padding: 5px;">
        <button type="button" class="search-btn" (click)="search()"><mat-icon>search</mat-icon>Search</button>
      </div>
    </mat-form-field>
  </form>
  <div class="data">
    <div *ngIf="!studentsInfo || studentsInfo?.length === 0">
      <h5>Students Will be Listed Here</h5>
    </div>
    <mat-spinner *ngIf="spinner"></mat-spinner>
    <ng-template *ngIf="noStudent">
      No Student Found
    </ng-template>
    <ng-container *ngIf="studentsInfo" #student>
      <div class="student-cards">
        <div *ngFor="let info of studentsInfo; track: $index" class="student-card">
          <p><strong>ID:</strong> {{info.id}}</p>
          <p><strong>Name:</strong> {{info.name}}</p>
          <p><strong>Email:</strong> {{info.email}}</p>
          <p><strong>Department:</strong> {{info.department}}</p>
          <p><strong>Year:</strong> {{info.year}}</p>
        </div>
      </div>
      <!-- <div>
        @for(info of studentsInfo;track $index){
        <p><strong> ID </strong> : {{info.id}}
       <strong>Name</strong> : {{info.name}}
        <strong>Email</strong> : {{info.email}}
        <strong>Department</strong> : {{info.department}}
         <strong>Year</strong>  : {{info.year}}</p>
        }
      </div> -->
    </ng-container>
  </div>
</div>
