.container {
  padding: 20px;
  background-color: white;
  height: 80vh;
  border-radius: 9px;
}
.inputs {
  display: flex;
  gap: 30px;
}
.custom-width-form {
  width: 300px;
}
.search-btn {
  border:none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: blue;
  padding: 9px;
  border-radius: 5px;
  color: white;
  width: fit-content;
  height: 38px;
}
.custom-form{
  --mat-form-field-container-vertical-padding:9px;
  --mat-form-field-container-height: 48px;
  width: 400px;
}
.data {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
tr {
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
