

<div [ngClass]="{'search':isHandset,'isDesktop':!isHandset}">
    <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input [(ngModel)]="Search" appearance="outline" matInput type="text" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>SeletBatch</mat-label>
        <mat-select [(ngModel)]="Batch" required >
            <mat-option *ngFor="let item of list"[value]="item" >{{item}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <button mat-flat-button style="background-color:#a08787;" (click)="search()"><mat-icon>search</mat-icon> Search</button>
    </div>
</div>