

<div style="margin-top: 50px; margin-left: 50px; display: flex; flex-direction: row;
    gap: 60px;min-width: 599.98px;">
    <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input [(ngModel)]="Search" matInput type="text" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>SeletBatch</mat-label>
        <mat-select [(ngModel)]="Batch" required >
            <mat-option *ngFor="let item of list"[value]="item" >{{item}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-fab extended style="background-color:#a08787;" (click)="search()"><mat-icon>search</mat-icon> Search</button>
</div>