<div class="m-3 grid grid-cols-2">
  <div>
    <div>
      <h3 class="text-2xl font-semibold">Generate Slots</h3>
      <form class="w-full grid md:grid-cols-3 gap-4 grid-cols-2 mt-2" [formGroup]="form">
        <div formGroupName="data">
          <p-select
            class="w-full"
            formControlName="selectedBreakConfig"
            [options]="breaks"
            placeholder="Interval Range"
            optionValue="configurationId"
            optionLabel="configurationId"
          ></p-select>
        </div>
        <div formGroupName="data">
          <p-inputnumber
            class="w-full"
            formControlName="range"
            required
            placeholder="Interval Timing"
            name="Intervals"
            placeholder="Enter Intervals"
          />
        </div>
        <div formGroupName="enteredData">
          <p-inputnumber class="w-full"
            placeholder="Enter Slot limit"
            name="Limit" required formControlName="limit" type="number" />
        </div>
        <div formGroupName="enteredData">
          <p-datepicker
            class="w-full"
            formControlName="startDate"
            placeholder="Start Date"
          />
        </div>
        <div formGroupName="enteredData">
          <p-datepicker
            class="w-full"
            formControlName="endDate"
            placeholder="End Date"
          />
        </div>
      </form>
      <div class="flex justify-center">
        <button class="mt-3"
        pButton
        severity="contrast"
        size="small"
        type="button"
        (click)="generateSlot()"
      >
        Generate
      </button>
      </div>
    </div>
    <div>
      <h3 class="font-semibold text-xl">Event and Batch</h3>
      <form [formGroup]="form" >
        <div class="mt-2 grid grid-cols-2 gap-3">
          <!-- Event Selection -->
          <div formGroupName="enteredData">
            <p-select class="w-full"
              formControlName="selectedEvent"
              placeholder="Event Name"
              [options]="eventsList"
            />
          </div>
          <div formGroupName="enteredData" appearance="outline">
            <p-select class="w-full"
              formControlName="selectedYear"
              placeholder="Year"
              [options]="years"
            ></p-select>
          </div>

          <div formGroupName="enteredData" appearance="outline">
            <input class="w-full"
              pInputText
              formControlName="venue"
              placeholder="Venue"
              name="venue"
              type="text"
              matInput
            />
          </div>

          <!-- Staff Input -->
          <div formGroupName="enteredData">
            <p-select class="w-full"
              formControlName="staff"
              [options]="acceptedStaffs"
              optionValue="id"
              placeholder="Staffs.."
              optionLabel="name"
            ></p-select>
          </div>
        </div>
        <div class="mt-3 mb-3 flex justify-center">
          <button pButton icon="pi pi-user-plus" severity="info" size="small" type="button" (click)="addStaff()">
            Add Staff
          </button>
        </div>
        <button pButton (click)="submit()" size="small" class="w-full" type="button" >
          Generate Slots
        </button>
      </form>
    </div>
  </div>
  <div class="ml-3">
    <h2 class="text-2xl font-semibold">Generated Slots</h2>
    <div *ngFor="let venue of venues()">
      <div *ngIf="venue.staffs.length > 0">
        <h3 class="mb-2 text-xl font-semibold">{{venue.venue}}</h3>
        <div class="grid-cols-6 gap-2">
          <p-chip
            *ngFor="let staff of venue.staffs"
            [removable]="true"
            (onRemove)="removeStaff(staff)"
          >
            {{ staff }}
          </p-chip>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog [visible]="slotTimeDialog" modal="true" header="Slot Timings" [style]="{width : '40rem'}">
  <div class="grid grid-cols-4 gap-3">
    <p-chip *ngFor="let slot of slots()"[removable]="false" class="flex justify-center" >{{slot}}</p-chip>
  </div>
  <ng-template #footer>
    <button pButton severity="secondary" (click)="slotTimeDialog = false" (click)="cancelGeneratedSlost()">Cancel</button>
    <button pButton severity="contrast" (click)="slotTimeDialog = false">Save</button>
  </ng-template>
</p-dialog>
<ng-template #DialogTemplate>
  <h3 matDialogTitle>Slots</h3>

  <mat-dialog-content>
    <ng-container style="margin: 10px">
      <mat-chip-set>
        <div *ngFor="let slot of slots()" style="margin: 5px">
          <mat-chip>{{ slot }}</mat-chip>
        </div>
      </mat-chip-set>
    </ng-container>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-dialog-close mat-flat-button cdFocusInitial>Close</button>
  </mat-dialog-actions>
</ng-template>
