<div matDialog class="container">
    <h3 matDialogTitle>Are You Sure?</h3>
    <mat-divider></mat-divider>
    <mat-dialog-content>
        <h5>Staffs</h5>
        <div class="staffs">
            @for(staff of data.staffs ; track $index) {
                <mat-chip style="margin: 5px;">{{staff.name}}</mat-chip>
            }
        </div>
        <div class="dates">
            <h6>Start Date :  {{data.startDate | date:'shortDate'}}</h6>
            <h6>End Date : {{data.endDate | date:'shortDate'}}</h6>
        </div>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions>
        <button mat-dialog-close mat-button>Cancel</button>
        <button mat-dialog-close mat-button (click)="submit()" cdkFocusInitial>Send</button>
    </mat-dialog-actions>
</div>
