<div matDialog class="container">
    <h3 matDialogTitle>Are You Sure?</h3>
    <mat-divider></mat-divider>
    <mat-dialog-content ma>
        <h3>Staffs</h3>
        <div class="staffs">
            @for(staff of data.staffs ; track $index) {
                <li>{{staff}}</li>
            }
        </div>
        <h3>Slots</h3>
        <div class="slots">
            @for(slot of data.slots ; track $index) {
                <mat-chip style="margin: 5px;">{{slot}}</mat-chip>
            }
        </div>
        <div class="dates">
            <h6>Start Date :  {{data.startDate | date:'shortDate'}}</h6>
            <h6>End Date : {{data.endDate | date:'shortDate'}}</h6>
        </div>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions>
        <button mat-dialog-close mat-button>Cancel</button>
        <button mat-dialog-close mat-button cdkFocusInitial>Send</button>
    </mat-dialog-actions>
</div>
