.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
}

.Welcome-msg {
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}


.settings-container {
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.settings-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-item {
  padding: 10px 0;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
