<div class="container">

  <div class="Welcome-msg">
    <h2>Welcome Admin👋</h2>

  <div class="cards-container">
    <div class="cards">
      <mat-card>
        <mat-card-header>
          <h5>Mock Interview</h5>
        </mat-card-header>
        <mat-card-content>
          <h3>43</h3>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="cards">
      <mat-card>
        <mat-card-header>
          <h5>Self Introduction</h5>
        </mat-card-header>
        <mat-card-content>
          <h3>54</h3>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="cards">
      <mat-card>
        <mat-card-header>
          <h5>Group Discussion</h5>
        </mat-card-header>
        <mat-card-content>
          <h3>43</h3>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
