<div class="toast-container" *ngIf="toastrService.message$ | async as message"
[ngClass]="{'show' : toastrService.message$ | async}" >
  <div class="toast"
  [ngClass]="{
   'error' : (toastrService.isError|async) && ( (toastrService.iconName |async) !== 'info'),
   'success' : !(toastrService.isError | async) && ( (toastrService.iconName |async) !== 'info'),
   'info' : !(toastrService.isError | async) && ((toastrService.iconName | async) === 'info')
   }"
   [style.width.%]="{isHandset : '250px'}"
  >
    <mat-icon>
     {{toastrService.iconName | async}}
      </mat-icon>
     {{message}}
    <div class="progress-bar"  [ngStyle]="{width:(toastrService.progress$ | async) + '%'}" ></div>
  </div>
</div>
