
.container {
  display: flex ;
  justify-content: center;
  align-items: center;
}

.select-venue {
  width: 100%;
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-right: 50px;
}

.slots-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 50px;
}
.formfield{
  --mat-form-field-container-vertical-padding:11px;
  --mat-form-field-container-height: 45px;
}

.btn {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
  box-shadow: 0px 6px 15px rgba(0, 0 ,0 ,0.25);
}

/* Table Container */
.table-container {
  margin: 20px auto;
  max-width: 800px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow:0 8px 23px rgba(0, 0, 0, 0.2);
}
.paginator {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}
.table th, .table td {
  padding: 12px 15px;
  text-align: left;
}

.table thead {
  background-color: #343a40;
  color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}
.time-button {
  background-color: #53a22c;
  border:none;
  padding: 11px 18px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  transition: box-shadow 0.2s ease-in-out;
}
.time-button:hover {
  background-color: #3f7d1d;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);
}

.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-top: 50px;
  text-align: center;
  color: #555;
  padding: 20px;
  border-radius: 8px;
  animation: fadeIn 0.5s ease-in-out;
}

.no-data-icon {
  font-size: 60px;
  color: #ff6b6b;
  margin-bottom: 15px;
}

.no-data p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.already-booked-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px solid #007bff;
  border-radius: 8px;
  background-color: #e9f7fe;
  color: #007bff;
  margin: 20px auto;
  text-align: center;
  max-width: 500px; /* Limit the width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.already-booked-container .material-icons {
  font-size: 48px;
  margin-bottom: 10px;
}

.already-booked-container p {
  margin: 5px 0;
  font-size: 18px;
}

.already-booked-container strong {
  font-weight: bold;
}
