<div class="table-container" style="display: flex; flex-direction: column">
  <table mat-table class="table mat-elevation-z10" [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Staff-id</th>
      <td mat-cell *matCellDef="let staff">{{ staff.staffId }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let staff">{{ staff.name }}</td >
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let staff">
        <div
          [ngClass]="{
            'status-accepted': staff.unmodifiedCount === 0,
            'status-pending': staff.unmodifiedCount !== 0
          }"
        >
          <mat-icon matIconSuffix>
            @if(staff.unmodifiedCount === 0){ check_circle } @else {
            hourglass_empty }
          </mat-icon>
          {{ staff.unmodifiedCount === 0 ? "Validated" : "Pending" }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td mat-cell *matCellDef="let staff">{{ staff.phoneNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let staff">{{ staff.email }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row
      matRipple
      (click)="onClick(staff)"
      *matRowDef="let staff; columns: columns"
    ></tr>
  </table>

  <mat-paginator class="mat-elevation-z8" #paginator
    [length]="statusDetails.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 15, 20, 25]">
  </mat-paginator>
</div>
