.table {
    width: 600px;
    overflow: hidden;
}
.table-container {
    width: 1100px;
    margin: 30px auto;
    padding-right: 30px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

.status-accepted {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text */
    padding: 5px 10px; /* Some padding for better appearance */
    border-radius: 4px; /* Optional: Rounded corners */
    display: flex;
    align-items:center;
}


.status-pending {
    background-color: #fff3cd; /* Light yellow background */
    color: #856404; /* Dark yellow text */
    padding: 5px 10px; /* Some padding */
    border-radius: 4px; /* Optional: Rounded corners */
    display: flex;
    align-items:center;
}

.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
}
