.table {
    width: 700px; /* Ensure table takes full width */
    overflow: hidden; /* Handle overflow */
}



.mat-column-id {
    flex: 0 0 150px; /* Fixed width */
}
.mat-column-status {
    flex:0.3;
}
.table-container {
    width: 1200px; /* Fixed width */
    margin: 30px auto; /* Center horizontally with auto margins */
    padding-right: 30px;
    padding-left: 20px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
}

.table {
    width: 100%; /* Ensure table takes full width of the container */
}
.status-accepted {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text */
    padding: 5px 10px; /* Some padding for better appearance */
    border-radius: 4px; /* Optional: Rounded corners */
    display: flex;
    align-items:center;
}


.status-pending {
    background-color: #fff3cd; /* Light yellow background */
    color: #856404; /* Dark yellow text */
    padding: 5px 10px; /* Some padding */
    border-radius: 4px; /* Optional: Rounded corners */
    display: flex;
    align-items:center;
}

.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
}
