.container {
  padding: 20px;
  height: fit-content;
  border-radius: 9px;
  margin-left: 20px;
  margin-top:10px;
}
.inputs {
  display: flex;
  gap: 30px;
}

.custom-form{
  --mat-form-field-container-vertical-padding:4px;
  --mat-form-field-container-height: 38px;
  width: 400px;
}

.table {
  margin-top:10px;
}

.even {
  background-color: #f0f0f0;
}

@media(max-width:1070px) {
  .headers {
    display: none;
  }
  .mat-cell {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .mat-cell::before{
    content: attr(data-head);
    flex:1;
    text-align: left;
    font-weight: bold;
  }
}
