<div class="mt-10">
  <form method="get">
    <p-floatlabel>
      <input
        pInputText
        (input)="table.filterGlobal(filter($event), 'contains')"
        [(ngModel)]="filterValue"
        type="text"
        name="filterValue"
      />
      <label for="over_label">Student Details</label>
    </p-floatlabel>
  </form>
  <div class="shadow-md mt-2">
    <p-table
      #table
      [columns]="displayColumns"
      class="bg-gray-50"
      [value]="data"
      [rows]="10"
      [globalFilterFields]="['name' , 'id' ,'department','email' , 'year']"
      paginator="true"
      [rowsPerPageOptions]="[10, 20]"
    >
      <ng-template #header>
        <tr>
          @for (colName of displayColumns; track $index) {
          <th>{{ colName }}</th>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-student>
        <tr>
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.department }}</td>
          <td>{{ student.year }}</td>
          <td>
            @if(student.resume) {
            <a target="_blank" [href]="url(student.resume)" severity="contrast" icon="pi pi-external-link" size="small" pButton >Resume</a>
            } @else {
            <p> <i class="pi pi-ban"></i> Not Uploaded</p>
            }
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
 </div>
