.container {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Fill the width */
    justify-content: flex-start; /* Align items to the top */
    margin: 17px auto; /* Center the container */
    max-width: 600px; /* Set a max width for better alignment */
}

.slot-generate {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.select-staff {
    display: flex;
    flex-direction: column; /* Stack the input and chips */
    gap: 8px; /* Space between input and chips */
    width: 100%; /* Full width */
}
.date-div {
    margin-top: 30px;
}
.slot-generate .inputs {
    display: flex;
    flex-wrap: wrap; /* Allow inputs to wrap */
    gap: 20px; /* Space between inputs */
}
.btns {
    margin-top: 20px; /* Add space above buttons */
    width: 100%; /* Make buttons full width */
    padding: 10px; /* Increase padding for better appearance */
}

.btns:hover {
    background-color: #3f51b5; /* Change background on hover */
    color: white; /* Change text color on hover */
}
.table {
    width: 700px; /* Ensure table takes full width */
    overflow: hidden; /* Handle overflow */
}



.mat-column-id {
    flex: 0 0 150px; /* Fixed width */
}


.mat-column-status {
    flex:1 ; 
}
.table-container {
    width: 1200px; /* Fixed width */
    margin: 50px auto; /* Center horizontally with auto margins */
    padding-right: 30px;
    padding-left: 50px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
}

.table {
    width: 100%; /* Ensure table takes full width of the container */
}
.status-accepted {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text */
    padding: 5px 10px; /* Some padding for better appearance */
    border-radius: 4px; /* Optional: Rounded corners */
    display: flex;
    align-items:center;
}


.status-pending {
    background-color: #fff3cd; /* Light yellow background */
    color: #856404; /* Dark yellow text */
    padding: 5px 10px; /* Some padding */
    border-radius: 4px; /* Optional: Rounded corners */
    display: flex;
    align-items:center;
}

.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
}
/*Generate slots*/
.generation {
    /* margin: 50px; */
    align-items: center;
    display: flex;
    justify-content: center;

}
