.container {
    display: flex;
    flex-direction: column;
    margin: 17px auto; /* Center the container */
    padding:30px;
    height: 72vh;
    background-color: white;
    margin: 10px;
    border-radius: 13px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}
.mat-mdc-tab-list,.mat-mdc-tab-label-container  {
  background-color: white !important;
}
.wrapper {
  background-color: rgb(212, 183, 183);
  display: flex;
  gap: 50px;
  padding: 50px;
}
.chip-div {
  display: flex;
  flex-direction: column;
}
.slot-generate {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.select-staff {
    display: flex;
    flex-direction: column; /* Stack the input and chips */
    gap: 8px; /* Space between input and chips */
    width: 100%; /* Full width */
}
.date-div {
    margin-top: 30px;
}
.slot-generate .inputs {
    display: flex;
    flex-wrap: wrap; /* Allow inputs to wrap */
    gap: 20px; /* Space between inputs */
}
.btns {
    margin-top: 20px; /* Add space above buttons */
    width: 100%; /* Make buttons full width */
    padding: 10px; /* Increase padding for better appearance */
    transition: background-color 0.3s, color 0.3s;
}

.btns:hover {
    background-color: #3f51b5; /* Change background on hover */
    color: white; /* Change text color on hover */
}

