<div class="container">
  <div class="wrapper">
    <form class="grid grid-cols-2 gap-10">
      <p-select
        size="large"
        placeholder="Select Staff"
        [options]="staffs"
        (onChange)="addStaffToChip($event.value)"
        optionValue="id"
        optionLabel="name"
      ></p-select>
      <p-select
        size="large"
        placeholder="Select Year"
        name="year"
        [(ngModel)]="forYear"
        [options]="years"
      ></p-select>
      <p-select
        [options]="events"
        placeholder="Event Type"
        size="large"
      ></p-select>
      <p-datepicker
        size="large"
        name="startDate"
        placeholder="Start Date"
        [(ngModel)]="startDate"
        class="w-[300px]"
      ></p-datepicker>
      <p-datepicker
        size="large"
        name="endDate"
        placeholder="End Date"
        [(ngModel)]="endDate"
      ></p-datepicker>
      <p-datepicker
        size="large"
        name="responseDeadline"
        placeholder="Response Deadline"
        [(ngModel)]="responseDeadline"
      ></p-datepicker>
    </form>
  </div>

  <div class="chips">
    <h4>Staffs</h4>
    <mat-chip-grid #grid>
      <p *ngIf="displaySelectedStaff().length === 0" style="cursor: none">
        Selected Staff Will Appear Here
      </p>
      <mat-chip-row *ngFor="let staff of displaySelectedStaff()">
        {{ staff.name }}

<p-button (click)="removeStaff(staff.name)"  icon="pi pi-times" [rounded]="true" [text]="true" />
        <!-- <button (click)="removeStaff(staff.name)" matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button> -->
      </mat-chip-row>
    </mat-chip-grid>
  </div>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    "
  >
    <button class="blue-btn submit-btn" (click)="submit()">Send</button>
  </div>
</div>
