<mat-tab-group dynamicHeight (selectedTabChange)="onTabChange($event)">
  @for (date of dates; track date) {
  <mat-tab label={{date}}>
    <div class="wrapper">
      <div class="tab-container">
        <mat-accordion>
          <div class="expansion-panel" *ngFor="let venues of getVenues(date)">
            <mat-expansion-panel id="{{venues}}" (expandedChange)="expansion(venues,$event)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>place</mat-icon>
                  <span>{{venues}}</span>
                </mat-panel-title>
                <mat-panel-description>
                  <span>Please Select a Slot for <strong>{{eventType}}</strong> on {{date}}</span>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="container">
                <div class="Timings">
                  @for (timing of timingsData[date][venues]; track timing) {
                  <div class="Timings-buttons">
                    <button (click)="dialogService.openDialog(timing,date)" mat-raised-button>{{timing}}</button>
                  </div>
                  }
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </div>
    </div>
  </mat-tab>
  }
</mat-tab-group>