<app-header></app-header>
<body>
    <div class="container">

        <mat-card class="cards">
            <img mat-card-image src="/images (1).jpeg" alt="">
            <mat-card-content>
                <h6>Mock Interview</h6>
            </mat-card-content>
        </mat-card>
        <mat-card class="cards">
            <img mat-card-image src="/GroupDiscussion.jpeg" alt="">
            <mat-card-content>
                <h6>Group-Discussion</h6>
            </mat-card-content>
        </mat-card>
        <mat-card class="cards">
            <img mat-card-image src="/SelfIntroduction.png" alt="">
            <mat-card-content>
                <h6>Self-Introduction</h6>
            </mat-card-content>
        </mat-card>
    </div>
</body>