<ng-container *ngIf="data !== null">
  <div class="mt-3">
    <div class="header">
      <h3>Event Booking</h3>
    </div>
    <div class="grid grid-cols-3 gap-10 items-center">
      <p-select
        [options]="data.slots"
        optionLabel="venue"
        optionValue="venue"
        [(ngModel)]="selectedVenue"
        showClear="true"
        (onChange)="mapStaffsToSelectedVenue()"
        placeholder="Venue Selection"
      ></p-select>
      <!-- <mat-form-field appearance="outline">
        <mat-label>Venue Selection</mat-label>
        <mat-select
          [(ngModel)]="selectedVenue"
          (selectionChange)="mapStaffsToSelectedVenue()"
        >
          <mat-option *ngFor="let venue of data?.slots" [value]="venue.venue">
            {{ venue.venue }}
          </mat-option>
        </mat-select>
        <mat-hint>Select Venue</mat-hint>
      </mat-form-field> -->
      <p-select
        [(ngModel)]="selectedStaff"
        optionValue="id"
        placeholder="Staff for venue"
        [options]="selectedVenueStaffArray || []"
        (onChange)="mapSlotsToSelectedStaff()"
        optionLabel="id"
      ></p-select>
      <!-- <mat-form-field appearance="outline">
        <mat-label>Staff Select</mat-label>
        <mat-select
          [(ngModel)]="selectedStaff"
          (selectionChange)="mapSlotsToSelectedStaff()"
        >
          <mat-option
            *ngFor="let staff of selectedVenueStaffArray"
            [value]="staff.id"
            >{{ staff.id }}</mat-option
          >
        </mat-select>
        <mat-hint>Select Instructor</mat-hint>
      </mat-form-field> -->
    </div>
    <div class="slots-container">
      <div class="grid grid-cols-4 gap-10 mt-10">
        <div
          *ngFor="let slot of selectedSlotsArray"
          class="p-m-2 p-p-3 p-button"
          [ngClass]="{
            'p-button-secondary': currentDate !== slot.date.toString(),
            'p-button-primary': currentDate === slot.date.toString()
          }"
          (click)="mapTimingsToSelectedDate(slot.date)"
        >
          {{ slot.date | date : "MMM d, y" }}
        </div>
      </div>
      <div class="grid grid-cols-7 gap-5 mt-10 mb-10">
        <div
          *ngFor="let timing of selectedTiming"
          class="p-button p-m-2 p-px-3 p-py-2"
          [ngClass]="{
            'p-button-secondary': currentTime !== timing.time,
            'p-button-success': currentTime === timing.time
          }"
          (click)="currentTime = timing.time"
        >
         @if(timing.limit > 0) {
           {{ timing.time }}
         }
        </div>
      </div>
    </div>
    <div class="footer">
      <p-button
        label="Confirm Booking"
        severity="success"
        (click)="openDialog()"
      >
      </p-button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="alreadyBooked !== null && !alreadyBooked.slotFinished">
  <div class="notification">
    <h2>You are already booked for the following event:</h2>
    <p>
      <strong>Booking Date:</strong>
      {{ alreadyBooked.bookingDate | date : "shortDate" }}
    </p>
    @let timingString = alreadyBooked.bookingTime;
    <div *ngIf="timingString">
      @let times = timingString.split('/');
      <p><strong>Booking Time:</strong> {{ times[0] }}</p>
      <p><strong>Booking Venue: </strong>{{ times[1] }}</p>
      <p><strong>Booking Staff: </strong>{{ times[2] }}</p>
    </div>
  </div>
</ng-container>

<ng-container
  *ngIf="
    (alreadyBooked === null && data === null) || alreadyBooked?.slotFinished
  "
>
  <div class="notification">
    <h2>No new slots are available at the moment.</h2>
    <p>Please check back later or contact support if you need assistance.</p>
  </div>
</ng-container>

<!-- ============== ================= ================-->
<ng-template #dialogTemplate let-data>
  <h4 matDialogTitle>Confirm?</h4>
  <mat-divider></mat-divider>
  <mat-dialog-content>
    <h3>Are You sure you want to book slot on</h3>
    <p style="font-size: 18px">
      <strong>Date : </strong>{{ data.date | date }}
    </p>
    <p style="font-size: 18px"><strong>Time : </strong>{{ data.time }}</p>
    <p style="font-size: 18px"><strong>Venue : </strong>{{ data.venue }}</p>
    <p style="font-size: 18px"><strong>Staff : </strong>{{ data.staff }}</p>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions>
    <div>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button mat-dialog-close (click)="submit()" cdkFocusInitial>
        Confirm
      </button>
    </div>
  </mat-dialog-actions>
</ng-template>
