<ng-container *ngIf="data !== null" >
  <div class="container">
    <div class="header">
      <h3>Event Booking</h3>
    </div>
    <div class="wrapper">
      <mat-form-field appearance="outline">
        <mat-label>Venue Selection</mat-label>
        <mat-select
          [(ngModel)]="selectedVenue"
          (selectionChange)="mapStaffsToSelectedVenue()"
        >
          <mat-option *ngFor="let venue of data?.slots" [value]="venue.venue">
            {{ venue.venue }}
          </mat-option>
        </mat-select>
        <mat-hint>Select Venue</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Staff Select</mat-label>
        <mat-select
          [(ngModel)]="selectedStaff"
          (selectionChange)="mapSlotsToSelectedStaff()"
        >
          <mat-option
            *ngFor="let staff of selectedVenueStaffArray"
            [value]="staff.id"
            >{{ staff.id }}</mat-option
          >
        </mat-select>
        <mat-hint>Select Instructor</mat-hint>
      </mat-form-field>
    </div>
    <div class="slots-container">
      <div class="slots">
        <div
          class="date"
          [class.selectedDate]="slot.date.toString() === currentDate"
          (click)="mapTimingsToSelectedDate(slot.date)"
          *ngFor="let slot of selectedSlotsArray"
        >
          {{ slot.date | date }}
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="timings-container">
        <div
          class="timing"
          [class.selectedTime]="timing.time === currentTime"
          (click)="this.currentTime = timing.time"
          *ngFor="let timing of selectedTiming"
        >
        @if(timing.limit > 0) {
          {{ timing.time }}
        }
        </div>
      </div>
    </div>
    <div class="footer">
      <button (click)="openDialog()" class="confirm-button">
        Confirm Booking
      </button>
    </div>
  </div>
</ng-container>
<ng-container ngif>

</ng-container>
<ng-container *ngIf="alreadyBooked !== null && !alreadyBooked.slotFinished">
  <div class="notification">
    <h2>You are already booked for the following event:</h2>
    <p>
      <strong>Booking Date:</strong>
      {{ (alreadyBooked.bookingDate | date : "shortDate")}}
    </p>
    @let timingString = alreadyBooked.bookingTime;
    <div *ngIf="timingString">
      @let times = timingString.split('/');
      <p><strong>Booking Time:</strong> {{ times[0] }}</p>
      <p><strong>Booking Venue: </strong>{{ times[1] }}</p>
      <p><strong>Booking Staff: </strong>{{ times[2] }}</p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="alreadyBooked === null && data === null || alreadyBooked?.slotFinished">
  <div class="notification">
    <h2>No new slots are available at the moment.</h2>
    <p>Please check back later or contact support if you need assistance.</p>
  </div>
</ng-container>

<!-- ============== ================= ================-->
<ng-template #dialogTemplate let-data>
  <h4 matDialogTitle>Confirm?</h4>
  <mat-divider></mat-divider>
  <mat-dialog-content>
    <h3>Are You sure you want to book slot on</h3>
    <p style="font-size: 18px">
      <strong>Date : </strong>{{ data.date | date }}
    </p>
    <p style="font-size: 18px"><strong>Time : </strong>{{ data.time }}</p>
    <p style="font-size: 18px"><strong>Venue : </strong>{{ data.venue }}</p>
    <p style="font-size: 18px"><strong>Staff : </strong>{{ data.staff }}</p>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions>
    <div>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button mat-dialog-close (click)="submit()" cdkFocusInitial>
        Confirm
      </button>
    </div>
  </mat-dialog-actions>
</ng-template>
