.selected-route{
    border-left: 5px solid;
    border-left-color: red;
}

mat-toolbar {
  background: #a6b9c4;
  color: rgb(0, 0, 0);
  box-shadow: 0px 4px 15px rgba(0 , 0 ,0  ,0.2);
}
mat-icon {
  color: black;
}

mat-sidenav {
  margin: 16px;
  width: 240px;
  border-right: none;
  background: #a6b9c4 ;
  /* background: #f1f4f8 ; */
  /* background-color: #a6b9c4; */
  /* background-color: #e4edf5; */
  color: rgb(2, 0, 0);
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0 , 0 ,0  ,0.2);
}

.content {
  padding: 30px;
  height: 100%;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}
 mat-sidenav-content {
  background-color: #eef2f6;
 }
