.selected-route{
    border-left: 5px solid;
    border-left-color: red;
}

.toolbar{
    box-shadow: 8px 8px 8px 8px black;
}


mat-toolbar {
  background: #d1e0e892;
  color: rgb(0, 0, 0);
}
mat-icon {
  color: black;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #d1e0e8 ;
  color: rgb(2, 0, 0);
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0 , 0 ,0  ,0.2);
}

.content {
  padding: 30px;
  height: 100%;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}
 mat-sidenav-content {
  background-color: #eef2f6;
 }
