@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



html,
body {
  font-family: poppins, sans-serif;
  height: 100%;
  margin: 0;
}

.custom-snackbar {
  .mdc-snackbar__surface {
    background-color: #ffff !important;
    color: rgba(0, 0, 0, 0.833) !important;
    box-shadow: 0px 5px 5px -3px rgba(78, 151, 90, 0.2),
      0px 8px 10px 1px rgba(122, 192, 72, 0.14),
      0px 3px 14px 2px rgba(36, 181, 92, 0.12)
  }

  .mat-mdc-snack-bar-actions {
    .mat-mdc-snack-bar-action {
      .mdc-button__label {
        color: black;
      }
    }
  }
}

.custom-form-field {
  .mdc-text-field--filled,
  .mat-mdc-text-field-wrapper:hover,
  .mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
  }
}

.blue-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 8px 13px;
  border-radius: 9px;
  width: 130px;
  font-size: 15px;
  font-family: Roboto;
  border: none;
  cursor: pointer;
  background-color: blue;
  color: white;
  font-weight: 500;
  height: 40px;
  transition: all 200ms ease-in-out;
}

.blue-btn:hover {
  background-color: white;
  color: blue;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-top: 50px;
  text-align: center;
  color: #555;
  padding: 20px;
  border-radius: 8px;
  animation: fadeIn 0.5s ease-in-out;
}

.no-data-icon {
  font-size: 60px;
  color: #ff6b6b;
  margin-bottom: 15px;
}

.round-table {
  border: 1px solid #EAF5FA !important;
  border-radius: 8px;
  overflow: hidden !important;
}

.no-data p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.custom-width-form {
  --mat-form-field-container-vertical-padding: 5px;
  --mat-form-field-container-height: 38px;
}
