<div class="container">
  <!--  Password Changing -->
  <div class="wrapper">
    <div class="details">
      <p style="font-size: 20px">
        <strong>{{ userName }}</strong>
      </p>
      <p style="font-size: 18px">{{ currentEmail }}</p>
    </div>
    <h3><strong>Account Settings</strong></h3>
    <div class="input-container">
      <div class="user-name">
        <div class="user-name-container">
          <p><strong>UserName</strong></p>
          <input
            class="mt-1"
            [value]="userName"
            pInputText
            id="userName"
            type="text"
          />
        </div>
        <div class="email-container">
          <p><strong>Email</strong></p>
          <input [value]="currentEmail" pInputText id="email" type="text" />
        </div>
        <div class="submit-btn-container">
          <button pButton severity="contrast" type="submit">Save Changes</button>
        </div>
      </div>
      <mat-divider style="margin-top: 20px"></mat-divider>
      <div class="password">
        <div class="curr-container">
          <p style="display: flex; gap: 4px; align-items: center">
            <strong>Current Password</strong>
            <button
              (click)="this.displayPassword = !this.displayPassword"
              mat-icon-button
            >
              <mat-icon mat-icon-button>
                {{ !displayPassword ? "visibility" : "visibility_off" }}
              </mat-icon>
            </button>
          </p>
          <input
            pInputText
            [value]="currentPassword"
            [type]="displayPassword ? 'text' : 'password'"
          />
        </div>
        <div class="new-container">
          <p style="display: flex; gap: 4px; align-items: center">
            <strong>Current Password</strong>

            <button
              (click)="this.displayNewPassword = !this.displayNewPassword"
              mat-icon-button
            >
              <mat-icon mat-icon-button>
                {{ !displayNewPassword ? "visibility" : "visibility_off" }}
              </mat-icon>
            </button>
          </p>
          <input type="text" pInputText placeholder="New Password" />
        </div>
        <div class="submit-btn-container">
          <button pButton severity="contrast" type="submit">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <!--  Events Settings-->
  <div class="wrapper">
    <h2>Existing Events</h2>
    <div class="event-list">
      <mat-chip-listbox>
        <p-chip class="mr-1" *ngFor="let event of items" color="primary">{{
          event
        }}</p-chip>
      </mat-chip-listbox>
    </div>
    <div style="margin-top: 30px">
      <h3>Create New Event</h3>
      <div [formGroup]="eventData" class="event-form-fields">
        <div class="flex gap-4">
          <input
            formControlName="Name"
            pInputText
            placeholder="E.g., Technical Round"
          />
          <input
            formControlName="MaximumParticipant"
            pInputText
            type="number"
            placeholder="E.g., 50"
          />
        </div>
        <textarea
          pInputText
          formControlName="Description"
          rows="3"
          placeholder="Describe the event..."
        ></textarea>
        <div classs="block w-full"></div>
        <div class="submit-btn-container">
          <button
            (click)="createEvent()"
            pButton
            type="submit"
            color="primary"
          >
            <mat-icon>add</mat-icon>
            Create Event
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--  Breaks Settings -->
  <div class="wrapper">
    <h3>Existing Combination</h3>
    <div class="p-1 mt-2">
      <p-chip (click)="getBreaksById(break.configurationId)" *ngFor="let break of retrievedBreaks"> ConfigurationId : {{break.configurationId}} </p-chip>
    </div>
    <h3>Create New Break Timing</h3>
    <div class="mt-8">
      <!-- Morning Break -->
      <form [formGroup]="breaks" class="flex gap-5">
        <p-floatlabel>
          <input id="uniqueId"
            pInputText
            formControlName="configurationId"
          />
          <label for="uniqueId">Unique Id</label>
        </p-floatlabel>

        <p-floatlabel>
          <p-datepicker class="w-full"
            id="morningBreak"
            formControlName="morningBreak"
            hourFormat="24"
            [timeOnly]="true"
            [showTime]="true"
          />
          <label for="morningBreak">Morning Break</label>
        </p-floatlabel>
        <p-floatlabel>
          <p-datepicker class="w-full"
            id="eveningBreak"
            formControlName="eveningBreak"
            hourFormat="24"
            [timeOnly]="true"
            [showTime]="true"
          />
          <label for="eveningBreak">Evening Break</label>
        </p-floatlabel>
        <!-- Lunch Start -->
         <p-floatlabel>
          <p-datepicker class="w-full"
            id="lunchStart"
            formControlName="lunchStart"
            hourFormat="24"
            [timeOnly]="true"
            [showTime]="true"
          />
          <label for="lunchStart">Lunch Start</label>
        </p-floatlabel>

        <!-- Lunch End -->
         <p-floatlabel >
           <p-datepicker class="w-full" formControlName="lunchEnd" hourFormat="24"  id="lunchEnd" [timeOnly]="true" />
           <label for="lunchEnd">Lunch End</label>
        </p-floatlabel>
       </form>
      <div class="mt-7 flex justify-center">
        <button (click)="onConfigSubmit()" pButton>
          Create New Config
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #breakTemplate let-data>
  <h4 mat-dialog-title>
    <strong>Configuration ID :</strong>{{ data.configurationId }}
  </h4>
  <mat-divider></mat-divider>
  <mat-dialog-content style="margin: 10px 0px 30px 30px">
    <h3><strong>Morning Break :</strong> {{ data.breaks.morningBreak }}</h3>
    <h3><strong>Evening Break :</strong>{{ data.breaks.eveningBreak }}</h3>
    <h3><strong>Lunch Start :</strong> {{ data.breaks.lunchStart }}</h3>
    <h3><strong> Lunch End :</strong>{{ data.breaks.lunchEnd }}</h3>
  </mat-dialog-content>
  <mat-divider> </mat-divider>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>
