<div class="container">
<!--  Password Changing -->
  <div class="wrapper">
    <div class="details">
      <p style="font-size: 20px;"><strong>{{userName }}</strong></p>
      <p style="font-size: 18px;">{{currentEmail}}</p>
    </div>
    <h3><strong>Account Settings</strong></h3>
    <div class="input-container">
      <div class="user-name">
        <div class="user-name-container">
          <p><strong>UserName</strong></p>
          <mat-form-field class="user-name-field" appearance="outline">
            <mat-label>UserName</mat-label>
            <input [value]="userName" matInput id="userName" type="text">
          </mat-form-field>
        </div>
        <div class="email-container">
          <p><strong>Email</strong></p>
          <mat-form-field class="email-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input [value]="currentEmail" matInput type="text">
          </mat-form-field>
        </div>
        <div class="submit-btn-container">
          <button class="blue-btn" type="submit">
            Save Changes
          </button>
        </div>
      </div>
      <mat-divider style="margin-top: 20px;"></mat-divider>
      <div class="password">
        <div class="curr-container">
          <p style="display:flex; gap: 4px;align-items: center;"><strong>Current Password</strong>
            <button (click)="this.displayPassword = !this.displayPassword" mat-icon-button>
              <mat-icon mat-icon-button>
                {{!displayPassword ? 'visibility' : 'visibility_off'}}
              </mat-icon>
            </button>
          </p>
          <mat-form-field class="current-password-field" appearance="outline">
            <input [value]="currentPassword" disabled matInput [type]="displayPassword ? 'text' : 'password'">
          </mat-form-field>
        </div>
        <div class="new-container">
          <p style="display:flex; gap: 4px;align-items: center;"><strong>Current Password</strong>
            <button (click)="this.displayNewPassword = !this.displayNewPassword" mat-icon-button>
              <mat-icon mat-icon-button>
                {{!displayNewPassword ? 'visibility' : 'visibility_off'}}
              </mat-icon>
            </button>
          </p>
          <mat-form-field class="new-password-field" appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
        <div class="submit-btn-container">
          <button class="blue-btn" type="submit">
            Save Changes
          </button>
        </div>
      </div>
    </div>
  </div>
<!--  Events Settings-->
  <div class="wrapper">
    <h2>Existing Events</h2>
    <div class="event-list">
      <mat-chip-listbox>
        <mat-chip *ngFor="let event of items" color="primary">{{event}}</mat-chip>
      </mat-chip-listbox>
    </div>
    <div style="margin-top: 30px;">
      <h3>Create New Event</h3>
      <div [formGroup]="eventData" class="event-form-fields">
        <div class="event-info-container">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Event Name</mat-label>
            <input formControlName="Name" matInput placeholder="E.g., Technical Round" />
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Maximum Participants</mat-label>
            <input formControlName="MaximumParticipant" matInput type="number" placeholder="E.g., 50" />
          </mat-form-field>
        </div>
        <div class="desc-container">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea formControlName="Description" matInput rows="3" placeholder="Describe the event..."></textarea>
          </mat-form-field>
        </div>
        <div class="submit-btn-container">
          <button (click)="createEvent()" class="blue-btn event-btn" type="submit" color="primary">
            <mat-icon>add</mat-icon>
            Create Event
          </button>
        </div>
      </div>
    </div>
  </div>
<!--  Breaks Settings -->
  <div  class="wrapper">
    <h3>Existing Combination</h3>
    <div>
      <mat-chip-listbox>
        <mat-chip (click)="getBreaksById(b.configurationId)"  *ngFor="let b of retrievedBreaks"> ConfigurationID :  {{b.configurationId}} </mat-chip>
      </mat-chip-listbox>
    </div>
    <h3>Create New Break Timing</h3>
    <div class="event-form-fields" >
    <!-- Morning Break -->
    <form [formGroup]="breaks" class="config-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Configuration Identifier</mat-label>
        <input matInput formControlName="configurationId" />
        <mat-hint>Provide Unique Identifier</mat-hint>
      </mat-form-field>
    <mat-form-field class="config-field" appearance="outline">
      <mat-label>Morning Break</mat-label>
      <input [format]="24"  formControlName="morningBreak" name="morningBreak" required matInput [ngxMatTimepicker]="morning" />
      <ngx-mat-timepicker-toggle matIconSuffix [for]="morning"></ngx-mat-timepicker-toggle>
      <ngx-mat-timepicker [isEsc]="true" [format]="24" #morning></ngx-mat-timepicker>
      <mat-hint>Morning Break</mat-hint>
    </mat-form-field>
    <!-- Evening Break -->
    <mat-form-field class="config-field"  appearance="outline">
      <mat-label>Evening Break</mat-label>
      <input [format]="24" formControlName="eveningBreak" name="eveningBreak" required matInput [ngxMatTimepicker]="eveningBreak" />
      <ngx-mat-timepicker-toggle matIconSuffix [for]="eveningBreak"></ngx-mat-timepicker-toggle>
      <ngx-mat-timepicker #eveningBreak></ngx-mat-timepicker>
      <mat-hint>Evening Break</mat-hint>
    </mat-form-field>
    <!-- Lunch Start -->
    <mat-form-field class="config-field" appearance="outline">
      <mat-label>Lunch Start Time</mat-label>
      <input [format]="24" formControlName="lunchStart" name="lunchStart" required matInput [ngxMatTimepicker]="lunchStart" />
      <ngx-mat-timepicker-toggle matIconSuffix [for]="lunchStart"></ngx-mat-timepicker-toggle>
      <ngx-mat-timepicker #lunchStart></ngx-mat-timepicker>
      <mat-hint>Lunch Starting Time</mat-hint>
    </mat-form-field>
    <!-- Lunch End -->
    <mat-form-field class="config-field" appearance="outline">
      <mat-label>Lunch End</mat-label>
      <input [format]="24" formControlName="lunchEnd" required name="lunchEnd" matInput [ngxMatTimepicker]="lunchEnd" />
      <ngx-mat-timepicker-toggle matIconSuffix [for]="lunchEnd"></ngx-mat-timepicker-toggle>
      <ngx-mat-timepicker [format]="24" #lunchEnd></ngx-mat-timepicker>
      <mat-hint>Lunch Ending Time</mat-hint>
    </mat-form-field>
      </form>
    <div class="submit-btn-container">
      <button (click)="onConfigSubmit()" class="blue-btn event-btn">Create New Config</button>
    </div>
    </div>
  </div>
</div>

<ng-template #breakTemplate let-data>

  <h4 mat-dialog-title><strong>Configuration ID :</strong>{{data.configurationId}} </h4>
  <mat-divider></mat-divider>
  <mat-dialog-content style="margin:10px 0px 30px 30px">
    <h3><strong>Morning Break :</strong> {{data.breaks.morningBreak}} </h3>
    <h3><strong>Evening Break :</strong>{{data.breaks.eveningBreak}} </h3>
    <h3><strong>Lunch Start :</strong> {{data.breaks.lunchStart}}</h3>
    <h3> <strong> Lunch End :</strong>{{data.breaks.lunchEnd}} </h3>
  </mat-dialog-content>
  <mat-divider>
  </mat-divider>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>
